<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width= device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="./CSS/style1.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="./Scripts/Scripts.js"></script>
	<title> My CV </title>

</head>

<body>
	<header>
		<h1>Another Developers Homepage</h1>
	</header>

	<div class="main">
		<ul class="nav">
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/skills}">My Skills</a></li>
			<li><a th:href="@{/tut}">Completed Tutorials</a></li>
			<li><a th:href="@{/demos}">Demos</a></li>
			<li><a th:href="@{/me}">About Me</a></li>
			<li><a class="active" th:href="@{/cv}">My CV</a></li>
		</ul>
	</div>

	<div class="main">

		<br />
		<h3>Select language</h3>
		<label class="radio-inline">
			<input type="radio" name="checker" value="English" onclick=onClick(); checked="checked" id="English"> English
		</label>
		<label class="radio-inline">
			<input type="radio" name="checker" value="Suomi" onclick=onClick(); id="Suomi"> Suomi </input>
		</label>
		<label class="radio-inline">
			<input type="radio" name="checker" value="Svenska" onclick=onClick(); id="Svenska"> Svenska </input>
		</label>
		<br />
		<br />
		<div id="ECV">			
				<object data='./Resources/CV.pdf' width="100%" height="650px">
					<p>Oops! You don't support embedded PDFs!</p>
					<p><a href="./Resources/CV.pdf">Download Instead (ENG)</a>
				</object>
		</div>

		<div id="FCV" style="display: none;">			
			<object data='./Resources/fcv.pdf' width="100%" height="650px">
				<p>Oops! You don't support emdedded PDFs!</p>
				<p><a href="./Resources/fcv.pdf">Download Instead (FIN)</a>
			</object>
				
		</div>
		<div id="SCV" style="display: none;">			
			<object data='./Resources/scv.pdf' width="100%" height="650px">
				<p>Oops! You don't support embedded PDFs!</p>
				<p><a href="./Resources/scv.pdf">Download Instead (SWE)</a>
			</object>
		</div>
	</div>


</body>

</html>